{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <h2 class="mb-5">Why Work With Us</h2>

        <div class="glass-card">
            <ul>
                <li>Experience handling billions of events/day</li>
                <li>Production-first architecture mindset</li>
                <li>Cloud cost optimization expertise</li>
                <li>AI-ready scalable systems</li>
                <li>Global consulting availability</li>
            </ul>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6196986010028344" crossorigin="anonymous"></script>
    </div>
</section>

{% endblock %}
